html{
    font-size: 62.5%;

}

button{
    margin: 20rem;
    padding: 2rem 4rem;
    background: blue;
    border: 0.3rem solid white;
    color: white;
    font-size: 2.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 1rem;
}

